.svg-arrow-next-dims {
	width: 10.1px;
	height: 16.4px;
}

.svg-businessman-dims {
	width: 509.89px;
	height: 509.89px;
}

.svg-call-dims {
	width: 351.2px;
	height: 349.9px;
}

.svg-certificate-dims {
	width: 496px;
	height: 496px;
}

.svg-check-dims {
	width: 240.61px;
	height: 240.61px;
}

.svg-clipboard-dims {
	width: 290.63px;
	height: 290.63px;
}

.svg-clipboard-2-dims {
	width: 496px;
	height: 496px;
}

.svg-close-dims {
	width: 512px;
	height: 512px;
}

.svg-delivery-truck-dims {
	width: 286.97px;
	height: 286.97px;
}

.svg-factory-dims {
	width: 496px;
	height: 496px;
}

.svg-lever-dims {
	width: 496.02px;
	height: 496.02px;
}

.svg-machine-dims {
	width: 496px;
	height: 496px;
}

.svg-mail-dims {
	width: 173.6px;
	height: 126.2px;
}

.svg-phone-with-message-dims {
	width: 464.99px;
	height: 464.99px;
}

.svg-pin-dims {
	width: 17.2px;
	height: 24.3px;
}

.svg-teamwork-dims {
	width: 295.24px;
	height: 306.05px;
}

